{% extends "main/base_profile.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="main">
        <div><h2>{{ notice.title }}</h2></div>
        <p><b>Марка: </b>{{ notice.marka }}</p>
        <p><b>Модель: </b>{{ notice.model }}</p>
        <p><b>Регион: </b>{{ notice.region|default:"Не указан" }}</p>
        <p><b>Год: </b>{{ notice.year }}</p>
        <p><b>Цена: </b>{{ notice.price }}$</p>
        <p><b>Пробег: </b>{{ notice.mileage }}км</p>
        <p><b>Описание:</b> {{ notice.description }}</p>
        {% if notice.photo %}
            <img src="/media/{{ notice.photo }}" alt="Фото авто" style="max-width:300px;">
        {% endif %}
        <p  class="notice-date">Автор: {{ notice.user }}</p>
        <p  class="notice-date">Дата публикации: {{ notice.created_at }}</p>
         <div style="margin-top: 50px;">
                <a href="{% url 'all_notice' %}" class="inputBtn">&larr; Назад</a>
         </div>
    </div>
{% endblock content %}
