{% extends "main/base_profile.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body flex">
          <h2 class="account-heading">Wellcome, {{ user.username }}!</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <div class="flexSpaceBetween">
            <a class="menuBlock {% if request.resolver_match.url_name == 'all_notice' %}active{% endif %}" href="{% url 'all_notice' %}">Все объявления</a>

            <a class="menuBlock {% if request.resolver_match.url_name == 'my_notice' %}active{% endif %}" href="{% url 'my_notice' %}">Мои объявления</a>

            <a class="menuBlock {% if request.resolver_match.url_name == 'hour24_notice' %}active{% endif %}" href="{% url 'hour24_notice' %}">за 24 часа</a>

            <a class="menuBlock {% if request.resolver_match.url_name == 'favorite_notice' %}active{% endif %}" href="{% url 'favorite_notice' %}">Избранные</a>
        </div>
    </div>
 <div class="main">
        {% if notices %}
           <div class="notices-grid">
            {% for notice in notices %}
                <div class="notice-card">
                   <h2 class="flexSpaceBetween">
                        <a class="decorationNone" href="{% url 'detail' notice_id=notice.id %}">{{ notice.title }}</a>

                        {% if user.is_authenticated %}
                            {% if request.resolver_match.url_name == 'my_notice' %}
                                <div>
                                    <a class="decorationNone" href="{% url 'edit_notice' notice.id %}" title="Редактировать объявление">✎</a>
                                     <a class="decorationNone" href="{% url 'delete_notice' notice.id %}" title="Удалить объявление" onclick="return confirm('Вы уверены, что хотите удалить объявление?');">🗑</a>
                               </div>
                            {% elif notice.id in favorite_ids %}
                                <a class="decorationNone" href="{% url 'remove_from_favorites' notice.id %}" title="Удалить из избранного">⭐</a>
                            {% else %}
                                <a class="decorationNone" href="{% url 'add_to_favorites' notice.id %}" title="Добавить в избранное">☆</a>
                            {% endif %}
                        {% endif %}
                    </h2>

                    <p><b>Марка:</b> {{ notice.marka }}</p>
                    <p><b>Модель:</b> {{ notice.model }}</p>
                    <p><b>Цена: </b>{{ notice.price }}$</p>
                    <p>Описание: {{ notice.description|truncatewords:3 }}...</p>
                    <p>Область: {{ notice.region|default:"Не указан" }}</p>

                    {% if notice.photo %}
                        <img src="/media/{{ notice.photo }}" alt="Фото авто" style="max-width:100%; height:auto;">
                    {% endif %}

                    <p class="notice-date">Дата публикации: {{ notice.created_at }}</p>


                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>Объявлений пока нет.</p>
        {% endif %}
    </div>
{% endblock content %}